<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center mt-5" style="font-size: xx-large;">
      <p>{{message}}</p>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <div>
        <a href="/new" method="GET" name="new">
          <button class="btn btn-primary" type="submit">GET New</button>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <div>
        <a href="/detail" method="GET" name="detail">
          <button class="btn btn-secondary" type="submit">GET id </button>
        </a>
      </div>
    </div>

  </div>
</div>